<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>【家計管理プロジェクト】削除ページ</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="smallwindow">
		<!-- ヘッダー -->
		<header class="header">
			<div>
				<h1 class="logo"><a href="/index"><img src="img/kakeikanri_project.png" alt="家計管理プロジェクト" width="230px"></a></h1>
			</div>
			<div class="close_btn"><button onClick="closebtn()">× 閉じる</button></div>
		</header>
		<!-- ヘッダーここまで -->

		<!-- メイン -->
		<main>
			<div class="kakei_touroku">
				<h2>家計簿削除</h2>
				<p>修正したい家計簿のIDを入力し、「決定」ボタンを押した後<br>
				削除項目を確認し、「削除」ボタンを押してください</p>
				<p class="err" id="errermessage" th:text="${errermessage}"> </p>
				<form th:action="@{/selectid?action=delete}" method="post">
					<table>
						<tr>
							<th>削除ID</th>
							<td class="inputid">
								<input type="text" name="id">　<input type="submit" value="決定">
							</td>
						</tr>
					</table>
				</form>
				
					<form th:action="@{/delete}" method="post" th:if="${result} != null"> <!-- onSubmit="return clickalert()" -->
						<table class="kakei_t" th:if="${result} != null">
							<tr>
								<th>ID</th><td><input id="selectedId" type="hidden" name="id" th:value="${result.id}" th:text="${result.id}"></td>
							</tr>
							<tr>
								<th>日付</th><td th:text="${result.date}"></td>
							</tr>
							<tr>
								<th>費目</th><td th:text="${result.categoryId}"></td>
							</tr>
							<tr>
								<th>メモ</th><td th:text="${result.memo}"></td>
							</tr>
							<tr>
								<th>収入</th><td th:text="${result.income}"></td>
							</tr>
							<tr>
								<th>支出</th><td th:text="${result.expense}"></td>
							</tr>
						</table>

						<div class="center">
							<input type="submit" value="　　削 除　　" class="btn" onClick="return inputCheck()">
						</div>
					</form>
			</div>
		</main>
		<!-- メインここまで -->

		<!-- フッター -->
		<footer class="footer">
			<p>&copy;Copyright kakeibokanri project. All rights reserved.</p>
		</footer>
		<!-- フッターここまで -->
	</div>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
