<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='WebデザイナーTARO YAMADA ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='TARO YAMADAのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="TARO YAMADAのポートフォリオサイトです" />
  <title>NAOKI KOBAYASHI ポートフォリオ</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/index_style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href=".">NAOKI KOBAYASHI</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="#works">WORKS</a></li>
            <li class="gnav-item"><a href="#skill">SKILL</a></li>
            <li class="gnav-item"><a href="#about">ABOUT</a></li>
            <li class="gnav-item"><a href="#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <!-- mv -->
      <div class="mv">
        <div class="mv-container">
          <p class="mv-title">NAOKI KOBAYASHI</p>
          <p class="mv-subtitle">PORTFOLIO</p>
          <p class="mv-text">
            実務未経験Javaプログラマー。<br class="sp-only">SpringFrameworkを使用した<br>
            簡易的なアプリケーションを作成経験あり。<br class="sp-only"><br>
          </p>
        </div>
      </div>
      <!-- /mv -->

      <!-- works -->
      <section class="works section" id="works">
        <div class="container">
          <h2 class="title">WORKS</h2>
          <div class="works-list">
            <a class="works-item" href="/login">
              <div class="works-img"><img src="img/mainpage_sample.png" alt="" /></div>
              <p class="works-name">家計簿アプリ</p>
              <p class="works-info">Design / Coding(Responsive)</p>
            </a>
            <div>
    		  <h3>使用技術</h3>
    		  <ul>
    		  	<li>言語 : Java, JavaScript, HTML5. CSS3</li>
    		    <li>フレームワーク : SpringBoot 2.7.0,SpringSecurity 5.7.1</li>
    		    <li>データベース : MySQL 8.0.29</li>
    		    <li>バージョン管理 : Git,Github</li>
    		  </ul>
    		  <br>
    		  <h3>主な機能</h3>
    		  <ul>
    		    <li>ログイン,ログアウト機能(SpringSecurity)</li>
    		    <li>月ごとに登録た収支データの表示</li>
    		    <li>新規レコードの登録、既存レコードの更新、削除</li>
    		  </ul>
    		  <h3>ソースコード</h3>
    		  <a href="https://github.com/mozukuoden1/Practice2">GitHubへ</a>
    		</div>
          </div>
        </div>
      </section>
      <!-- /works -->

      <!-- skill -->
      <section class="skill section" id="skill">
        <div class="container">
          <h2 class="title">SKILL</h2>
          <div class="skill-list">
            <div class="skill-item">
              <p class="skill-img"><img src="img/social_html5_82.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">HTML5/CSS3</h3>
                <p class="skill-text">
                  form作成できます。</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/java_original_wordmark_logo_icon_146459.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Java</h3>
                <p class="skill-text">
                  SpringFramework, SpringBoot,SpringSeculity ,JUnit5<br>
                  Excelファイルの読み取り</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/javascript_icon_130900.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">JavaScript</h3>
                <p class="skill-text">
                  DOM操作、Ajax通信による値の受け渡し</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/github_git_icon_145985.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">Git,GitHub</h3>
                <p class="skill-text">
                  GitHubへのアップロード、ブランチを使いバージョン管理</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/aws_icon_146074.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">AWS</h3>
                <p class="skill-text">
                  環境構築をしアプリケーションをデプロイ</p>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-img"><img src="img/sql-document-outlined-interface-symbol_icon-icons.com_57504.png" alt=""></p>
              <div class="skill-body">
                <h3 class="skill-name">SQL</h3>
                <p class="skill-text">
                  MySQLを使用、集計関数、結合</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /skill -->

      <!-- about -->
      <section class="about section" id="about">
        <div class="container">
          <h2 class="title">ABOUT</h2>
          <div class="profile">
            <p class="profile-img">
              <img src="img/profile.jpg" alt="">
            </p>
            <div class="profile-body">
              <p>
                職業訓練で5か月間Javaプログラミング、SQL、サーブレットを勉強し、その後SpringFrameworkを独学で勉強中。
              </p>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- /about -->

      <!-- contact -->
      <section class="contact section" id="contact">
        <div class="container">
          <h2 class="title">CONTACT</h2>
          <p class="lead">
            お問い合わせは、<br class="sp-only">メールにてお願いいたします。
          </p>
          <div class="contact-list">
            <span class="contact-item">zhihuixiaolin7@gmail.com</span>
          </div>
        </div>
      </section>
      <!-- /contact -->
      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;NAOKI KOBAYASHI</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type='text/javascript' src="js/index_script.js"></script>
</body>
</html>